<!DOCTYPE html>
<html>
  <head>
  <title>Lou Joseau - Avocate au Barreau d’Amiens</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="<%= asset_path 'logo_white_transparent_background.png'%>" alt="Logo de Lou Joseau" style="height: 50px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Accueil</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

    <footer class="text-center bg-body-tertiary" style="position: fixed; left: 0; bottom: 0; width: 100%; background-color: inherit;">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Lou Joseau - Tous droits réservés.</a>
      </div>
    </footer>

    <script>
      document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelector('.card').classList.add('animate');
      });
    </script>

  </body>
</html>
