<!DOCTYPE html>
<html>
  <head>
    <title>Lou Joseau - Avocate au Barreau d’Amiens</title>
    <meta name="description" content="Lou Joseau, avocate pénaliste à Amiens, spécialisée en droit pénal et droit civil. Contactez-nous pour une consultation.">
    <meta name="keywords" content="avocat pénaliste Amiens, Lou Joseau, droit pénal Amiens, avocat droit civil">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" media="print" onload="this.media='all'">
    <%= favicon_link_tag asset_path('logo_white_transparent_background.ico') %>

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Lou Joseau - Avocate Pénaliste à Amiens">
    <meta property="og:description" content="Lou Joseau, avocate pénaliste à Amiens, spécialisée en droit pénal et droit civil. Contactez-nous pour une consultation.">
    <meta property="og:image" content="<%= asset_path 'lj2-remove.png' %>">
    <meta property="og:url" content="http://www.votre-site.com">
    <meta property="og:type" content="website">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Lou Joseau - Avocate Pénaliste à Amiens">
    <meta name="twitter:description" content="Lou Joseau, avocate pénaliste à Amiens, spécialisée en droit pénal et droit civil. Contactez-nous pour une consultation.">
    <meta name="twitter:image" content="<%= asset_path 'lj2-remove.png' %>">
  </head>

  <body class="min-h-screen flex flex-col">
    <nav class="bg-gray-800 p-4">
      <div class="container mx-auto flex items-center justify-between">
        <a href="/" class="text-white">
          <img src="<%= asset_path 'logo_white_transparent_background.png'%>" alt="Logo de Lou Joseau" class="h-12 w-auto">
        </a>
        <button class="text-white md:hidden" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24"><path d="M4 6h16M4 12h16M4 18h16"></path></svg>
        </button>
        <div class="hidden md:flex md:items-center" id="navbarNav">
          <ul class="flex space-x-4">
            <li>
              <a href="/" class="text-white hover:text-gray-400">Accueil</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

    <footer class="mt-auto bg-gray-100 text-center py-3 fixed bottom-0 w-full">
      <div class="bg-gray-200 py-3">
        © 2024 Lou Joseau - Tous droits réservés.
      </div>
    </footer>

    <script>
      document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelector('.card').classList.add('animate');
      });
    </script>

  </body>
</html>
